#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.grainy-background {
  background-image: linear-gradient(to bottom, rgba(177, 250, 204, 0.6), rgba(21, 101, 50, 0.6));
  background-size: cover;
  position: absolute;
  inset: 0;
  filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1" height="1" viewBox="0 0 1 1"><defs><filter id="noise" x="0" y="0"><feTurbulence type="fractalNoise" baseFrequency="0.8" numOctaves="2" result="turbulence" /><feColorMatrix type="matrix" values="0 0 0 0.5 0 0 0 0.5 0 0 0 0 0.5 0 0 0 0 1 0" in="turbulence" /><feComposite in2="SourceGraphic" operator="over"/></filter></defs><rect width="1" height="1" filter="url(#noise)" /></svg>');
}